/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.DS_Store
.idea
.idea.bak
.temp
.vite_opt_cache
.vscode
dist
.cache
cache
temp
examples-temp
node_modules
node_modules.bak
pnpm-global
TODOs.md
*.timestamp-*.mjs
docs/.vitepress/.temp/
docs/.vitepress/.cache/
docs/.vitepress/dist/
node_modules/
.env
.env.gitlab
lib/
download/
**/__fixtures__/.temp/
coverage/
*..DS_Store
*.tsbuildinfo
test.*
download.sh
*.json
